@CHARSET "UTF-8";

body {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: #FFFFFF;
  background-color: #124672;}
  
fieldset {
width: 400px;
margin: auto;}

.admin  {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: #FFFFFF;
  background-color: #002309;}
    
.reservado {
	 background-color: #FF2106;
	 color: #FFFFFF;
}
.titulotabla {
	 color: #6ADAF5;
}
a{
	text-decoration:none;
	color: #FDFF77;}   
a:link {
	text-decoration:none;
	color: #FDFF77;}
a:visited {
	text-decoration:none;
	color: #FDFF77;}
a:active {
	text-decoration:none;
	color: #FDFF77;}
a:hover {
	text-decoration:none;
	background-color: #216C7E;}
	
.boton {
     width: 180px;
     height: 100%;
}

.boton:hover {
    background-color: #F0E68C; /* #4CAF50 */
    color: black;
}

.botonrsv {
     width: 210px;
     height: 100%;
	 background-color: #4CAF50; /* #4CAF50 */	
}

.botonrsv:hover {
    background-color: #F0E68C; /* #4CAF50 */
    color: black;
}

div.error {
	margin: auto;
	border: 5px;
    border-style: solid;
    border-color: red;
    width: 600px;
    background-color: #FEBAB3;
    color: black;
}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }